@import 'settings';
@import '~foundation-sites/scss/foundation';
@include foundation-everything(false);

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/spinner.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
