<div class="row columns summary">
    <h3>Agitators near failure</h3>
    <table>
        <thead>
        <th>Autoclave</th>
        <th>Agitator</th>
        <th>Days to Failure</th>
        <th>Temperature</th>
        <th>Vibration</th>
        </thead>
        <tbody>
        <tr *ngFor="let agitator of dangerousAgitators">
            <td>{{agitator.autoclave}}</td>
            <td>{{agitator.name}}</td>
            <td>{{agitator.daysToFailure}}</td>
            <td>{{agitator.temp.toFixed(2)}}&deg; C</td>
            <td>{{agitator.vibration.toFixed(2)}} mm/s</td>
        </tr>
        </tbody>
    </table>
</div>
