<div class="row columns summary">
    <h3>Agitators near failure</h3>
    <table>
        <thead>
        <th class="emphasize">Days to Failure</th>
        <th>Autoclave</th>
        <th>Agitator</th>
        <th>Temperature</th>
        <th>Vibration</th>
        <th>Cooling Water</th>
        </thead>
        <tbody>
        <tr *ngIf="!dangerousAgitators.length">
            <td colspan="99" style="text-align: center"><i>All agitators operating within tolerance</i></td>
        </tr>
        <tr *ngFor="let agitator of dangerousAgitators">
            <td class="emphasize" [innerHTML]="display.daysToFailure(agitator.daysToFailure)"></td>
            <td>{{agitator.autoclave}}</td>
            <td>{{agitator.name}}</td>
            <td [innerHTML]="display.temp(agitator.temp)"></td>
            <td [innerHTML]="display.vibration(agitator.vibration)"></td>
            <td [innerHTML]="display.coolingWater(agitator.coolingWater)"></td>
        </tr>
        </tbody>
    </table>
</div>
