<div class="row columns header">
    <div><h1>Autoclave Dashboard for Pueblo Viejo</h1></div>
    <div>Last updated: {{now()}}</div>
</div>
<jjack-summary [dangerousAgitators]="getAgitators('danger')"></jjack-summary>

<div class="row">
    <div class="columns">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title"
                *ngFor="let autoclave of autoclaves; let i = index"
                [ngClass]="{'is-active': autoclave.selected, 'red-back': dangerCount(autoclave)}">
                <a href="#panel{{i}}" (click)="handleTabClick(autoclave)">
                    ({{autoclave.id}}) {{autoclave.name}}
                    <span class="red" *ngIf="dangerCount(autoclave)">[{{dangerCount(autoclave)}}]</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="tabs-content columns"
         *ngFor="let autoclave of autoclaves"
         [ngClass]="{hidden: !autoclave.selected}">

        <h5>Days Since Last Downtime: {{getDaysSinceDowntime(autoclave.lastStart)}}</h5>
        <!--<jjack-plotly *ngIf="autoclave.selected" [url]="'~bucklerchica/72.embed'" [height]="500"></jjack-plotly>-->

        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li *ngFor="let agitator of autoclave.agitators"
                class="accordion-item"
                [ngClass]="agitator.status"
                data-accordion-item>
                <a href="#" class="accordion-title"
                   (click)="handleRowClick($event, agitator)">
                    <span>Agitator {{agitator.name}}</span> {{agitator.daysToFailure}} days to failure
                </a>
                <div class="accordion-content" data-tab-content>
                    <div class="row columns fields">
                        <div class="fields">
                            <div class="fields-left">Temperature:<br/>Compartment Temperature:</div>
                            <div class="fields-right">
                                {{agitator.temp.toFixed(2)}}&deg; C<br/>
                                {{agitator.compartmentTemp.toFixed(2)}}&deg; C
                            </div>
                        </div>
                        <div class="fields">
                            <div class="fields-left">Cooling Water:<br/>Vibration:</div>
                            <div class="fields-right">
                                {{agitator.coolingWater.toFixed(2)}} m<sup>3</sup>/hr<br/>
                                {{agitator.vibration.toFixed(2)}} mm/s
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="button">Emergency Shut-Off</button>
                            <button class="button">Schedule Maintenance</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row columns footer">
    Created by JJACKZ: Jordan Hagan, Jordan Fallon, Anne Morrow, Christine Buckler, Karen Farbman, Zack Kneupper<br/>
    at <a href="https://unearthed.solutions/hackathons/unearthed-denver-2017/">Unearthed Denver 2017</a>
</div>
