@import '../../../settings';

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;

  div {
    align-self: baseline;
  }
}

.footer {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;

  a {
    color: $alert-color;
  }
}

ul {
  background-color: transparent;
  border: none;
}

h4 {
  text-align: left;
}

.fields {
  display: flex;
  justify-content: space-between;

  div {
    margin: auto;
  }
}

.columns {
  padding: 0;
}

.tabs-title {
  border-top: 1px solid $black;
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
  background-color: $white;
  position: relative;
  top: 1px;

  &:first-child {
    border-left: 1px solid black;
  }

  &.is-active {
    border-bottom-color: $white;
  }
}

.tabs-content {
  border: 1px solid $black;
  padding: 5px;
  background-color: $white;
  margin-bottom: 1rem;
}

li {
  a {
    color: black;
    font-size: 15px;
    background-color: transparent;

    & > div:last-child {
      margin-right: 20px;
      text-align: right;
    }
  }
}

.accordion-title span {
  padding-right: 25px;
}

.healthy a {
  background-color: $success-color;
  .accordion-title:hover {
    background-color: darken($success-color, 5%);
  }
}

.warning a {
  background-color: $warning-color;
  .accordion-title:hover {
    background-color: darken($warning-color, 5%);
  }
}

.danger a {
  background-color: $alert-color;
  .accordion-title:hover {
    background-color: darken($alert-color, 5%);
  }
}

.offline a {
  background-color: $secondary-color;
  .accordion-title:hover {
    background-color: darken($secondary-color, 5%);
  }
}

.fields-left {
  padding-right: 10px;
  text-align: right;
}

.red {
  color: $alert-color;
}

.red-back {
  background-color: lighten($alert-color, 40%);
}
