<div class="row columns header">
    <div><h1>Autoclave Dashboard for Pueblo Viejo</h1></div>
    <div>Last updated: {{now()}}</div>
</div>

<div class="row">
    <div class="columns">
        <ul class="tabs" data-tabs id="example-tabs">
            <li class="tabs-title"
                *ngFor="let autoclave of autoclaves; let i = index"
                [ngClass]="{'is-active': autoclave.selected}">
                <a href="#panel{{i}}" (click)="handleTabClick(autoclave)">{{autoclave.name}} ({{autoclave.id}})</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="tabs-content columns"
         *ngFor="let autoclave of autoclaves"
         [ngClass]="{hidden: !autoclave.selected}">

        <h5>Days Since Last Downtime: {{getDaysSinceDowntime(autoclave.lastStart)}}</h5>
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li *ngFor="let agitator of autoclave.agitators"
                class="accordion-item"
                [ngClass]="agitator.status"
                data-accordion-item>
                <a href="#" class="accordion-title"
                   (click)="handleRowClick($event, agitator)">
                    <div>
                        <h4>Agitator {{agitator.name}}</h4>
                        Status: {{agitator.status}}<br/>
                        Days to Failure: {{agitator.daysToFailure}}
                    </div>
                    <div>
                        Temperature: {{agitator.temp}}&deg;<br/>
                        Compartment Temperature: {{agitator.compartmentTemp}}&deg;<br/>
                        Cooling Water: {{agitator.coolingWater}}%<br/>
                        Vibration: {{agitator.vibration}} GHz
                    </div>
                </a>
                <div class="accordion-content" data-tab-content>
                    <div class="chart-container spinner">
                        <jjack-plotly *ngIf="agitator.open"></jjack-plotly>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
